#header {
  background: url(https://static.toiimg.com/thumb/msid-79653835,width-1200,height-900,resizemode-4/.jpg) center center / cover no-repeat ;
}


#header-content {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.district {
  display: none;
}

.farmer-img {
  max-width:460px;
  max-height:190px;
  width: auto;
  height: auto;
}

#about {
  margin: 15px;
}

.district-card:hover, .state-card:hover, .farmer-card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.card-title {
  text-align: center;
}

.card-body:hover {
  background-color:burlywood; 
}
.card-img {
  opacity: 0.5;
}

.card-img:hover {
  opacity: 1;
  transition: 0.5s;
}

#note, .update {
  color: brown;
}

#sub-note, #hash_tag {
  color: blue;
}

#total-death {
  color: rgb(233, 27, 27)
}

#farmer-header, #district-header, #state-header {
  text-align: center;
}

.container {
    margin-top: 100px
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

/* .counter-box.colored {
    background: burlywood;
} */

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #666
}